--extra-index-url https://download.pytorch.org/whl/cu126

fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pandas
numpy
scikit-learn
passlib[bcrypt]
python-multipart
python-dotenv
openpyxl
xgboost
torch
optuna
joblib
matplotlib
